
4S-Analisis-Numerico/app/src/main/java/co/edu/eafit/dis/analisisnumerico/activity_app_class/OneVariableEquationActivity.java
4S-Analisis-Numerico/app/src/main/java/co/edu/eafit/dis/analisisnumerico/activity_app_class/EquationSystemActivity.java
